@model FeedHope.Models.ColetaModel

@{
    ViewData["Title"] = "Detalhes da Coleta";
}

<h2>Detalhes da Coleta</h2>

<dl class="row">
    <dt class="col-sm-2">Data da Coleta</dt>
    <dd class="col-sm-10">@Model.DataColeta.ToShortDateString()</dd>

    <dt class="col-sm-2">Empresa</dt>
    <dd class="col-sm-10">@Model.Empresa?.Nome</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
